<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque iusto ab quaerat possimus optio officia praesentium perferendis fugit ex. Est asperiores beatae atque veritatis deleniti minima sapiente ratione iure ea.
            </div>
        <div class="col col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, illum modi! Maiores eveniet pariatur voluptatibus harum nesciunt minima quae consequuntur fuga, quis, vel maxime distinctio est voluptates tenetur saepe tempora?</div>
        </div>
    </div>
</body>
</html>